/* 
color1:#A60076 "lila"
color2:#A9E93F "Verde"
color3:#FF8945
color4:#450096 "Azul"
*/


/* header {
    width: 100%;
    background-color: #A60076;
    color: #ffff;
} */

.main-slider .tp-shapewrapper.ov-tp {
    background-color: #a6007691;
}

.tp-caption {
    z-index: 6;
    min-width: 800px;
    max-width: 800px;
    white-space: normal;
    font-size: 90px;
    line-height: 90px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -5px;
    font-family: 'Montserrat', sans-serif;
}